* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
}

header {
  color: #fff;
  height: 730px;
  position: relative;
  overflow: hidden;
}

header:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #24053e;
  z-index: -1;
  clip-path: circle(61vh at 50% -6vh);
  transform: scale(1.9);
}

header .heading {
  padding: 24.61px 95.76px 24.61px 95.76px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a:link {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: "Manrope";
  font-weight: bold;
  font-size: 18px;
  padding: 18px;
  color: #24053e;
  background-color: rgb(68, 255, 161);
}

header .heading p a {
  color: #fff;
  border-bottom: 3px solid rgb(68, 255, 161);
}

header .heading p a:link {
  background-color: inherit;
  color: inherit;
  padding: 0;
}

header .heading-text {
  font-family: "Fraunces";
  font-size: 80px;
  line-height: 1;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}
header .heading-text span {
  display: inline-block;
  border-bottom: 3px solid rgb(68, 255, 161);
}

header .learn-more {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.container .heading-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading-secondary img {
  height: 405px;
  width: 702px;
  display: block;
}

.details-content {
  font-size: 14px;
  padding: 120px;
  display: flex;
  gap: 15px;
  justify-content: space-around;
}
.details {
  font-family: "Fraunces", sans-serif;
  width: 354px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.number {
  height: 56px;
  width: 56px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(88, 77, 98);
  font-size: 24px;
  border-radius: 50%;
}

.heading-small {
  font-size: 32px;
  margin: 40px 0 40px 0;
}

.text {
  font-family: "Manrope";
  text-align: center;
}

.action {
  padding: 121px;
  display: flex;
  position: relative;
}

.action img {
  height: 477px;
  width: 477px;
}

.action .action-content {
  height: 413px;
  width: 730px;
  padding: 80px;
  background-color: rgb(36, 5, 62);
  color: white;
  position: absolute;
  top: 41%;
  left: 36%;
}

.action .action-content .heading-mid {
  font-family: "Fraunces", sans-serif;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 20px;
}

.action .action-content p {
  width: 602px;
  font-size: 18px;
  font-family: "Manrope";
  font-weight: 400;
  color: 584D62;
  padding: 20px 0 40px 0;
}

.action .action-content a {
  font-weight: bold;
  font-size: 18px;
}

.secondary-logo img {
  display: block;
  height: 24px;
  margin: 80px 0 40px 0;
}

.secondary-logo,
footer {
  display: flex;
  justify-content: center;
}

footer .footer {
  display: flex;
  gap: 20px;
  flex-direction: row;
}

footer {
  padding-bottom: 80px;
}

footer .footer a:link {
  background-color: white;
  padding: 0;
  margin: 0;
}
